# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Qt
als-controller.pro.user

# Other
/service/Makefile
/service/als-controller
/tmp
